* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 1440px;
    margin: auto;
    margin-bottom: 75px
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsl(240, 100%, 5%);
    opacity: 0.5;
    display: none
}

#mobile {
    display: none
}

#bar {
    display: none
}

nav {
    width: 100%;
    height: 120px;
    background-color: hsl(36, 100%, 99%);
    padding-bottom: 25px
}

.navbar {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px
}

#close {
    display: none
}

#logo {
    width: 55px;
    height: 35px
}

ul {
    display: inline-flex;
    list-style: none;
}

ul li {
    margin-left: 45px;
    font-size: 15px;
    color: hsl(236, 13%, 42%);
    cursor: pointer;
}

ul li:hover {
    color: hsl(5, 85%, 63%)
}

#list {
    display: none
}

.container {
    background-color: hsl(36, 100%, 99%);
    width: 100%;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 75px
}

.firstheading {
    width: 66%;
    height: 550px;
    margin-right: 33px
}

.hero {
    width: 100%;
    background-image: url(assets/images/image-web-3-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 325px;

}

.news {
    background-color: hsl(240, 100%, 5%);
    width: 375px;
    height: 550px;
    padding: 30px
}

#news-title {
    color: hsl(35, 77%, 62%);
    font-size: 42px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 25px
}

.news h2 {
    color: hsl(36, 100%, 99%);
    font-size: 20px;
    font-weight: 300px;
    margin-bottom: 10px
}

.news h2:hover {
    color: hsl(35, 77%, 62%)
}

.news p {
    color: hsl(238, 15%, 68%);
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 26px;
}

hr {
    width: 100%;
    border: 0px solid hsl(238, 15%, 68%);
    background-color: hsl(238, 15%, 68%);
    height: 1px;
    margin-bottom: 35px;
}

.story {
    width: 100%;
    height: 225px;
    display: flex;
    padding-top: 35px
}

.story h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 65px;
    width: 450px
}

.story p {
    line-height: 24px;
}

#textBtn {
    width: 450px;
    padding-right: 25px
}

button {
    width: 185px;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 5px;
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: white;
    margin-top: 45px
}

button:hover {
    background-color: hsl(240, 100%, 5%)
}

.boxes {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    padding-bottom: 75px
}

.box1 {
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 125px
}

.box1 img {
    width: 100px;
    height: 125px;
    margin-right: 25px
}

.texts {
    display: block;
    line-height: 24px;
}

.texts h1 {
    margin-bottom: 20px;
    color: hsl(238, 15%, 68%);
}

.texts h3 {
    margin-bottom: 5px;
    cursor: pointer;
}

.texts h3:hover {
    color: hsl(5, 85%, 63%)
}

.texts p {
    font-size: 14px;
    
}

p {
    color:hsl(238, 15%, 68%)
}

@media (max-width: 1440px) {
    body {
        width: 100%;
        height: 100vh
    }

    .container {
        margin-bottom: 75px
    }
}


@media (max-width: 1439px) {
    .news {
        width: 30%;
        height: auto;
    }

    button {
        margin-top: 25px
    }

    .container {
        margin-bottom: 75px
    }
}

@media (max-width: 1300px) {
    .box1 {
        width: 325px
    }

    .texts {
        line-height: 20px
    }

    .container {
        margin-bottom: 75px
    }
}


@media (max-width: 1240px) {

    ul {
        display: none
    }

    nav,
    .navbar {
        height: 100px;
        padding-top: 20px
    }

    #mobile {
        display: block;
        height: auto
    }

    #bar {
        display: block;
        cursor: pointer;
    }

    .menuslide {
        width: 400px;
        height: auto;
        background-color: hsl(36, 100%, 99%);
        position: fixed;
        top: 0;
        right: -410px;
        padding: 80px 0 0 10px;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .menuslide.active {
        right: 0px
    }

    #close {
        display: block;
        margin-top: -30px;
        margin-left: 260px;
        margin-bottom: 75px;
        cursor: pointer;
    }

    #list {
        display: block;
    }

    #list li {
        margin-bottom: 45px;
        font-size: 20px
    }

    .container {
        margin-top: 55px;
        height: auto;
    }

    .firstheading {
        width: 100%;
        height: 1025px;
        margin: auto
    }

    .hero {
        height: 475px
    }

    .story {
        width: 100%;
        height: 550px;
        display: block
    }

    .story h1 {
        margin-bottom: 50px;
        width: 100%
    }

    .news {
        margin-top: -100px;
        width: 100%;
        text-align: center;
    }

    .boxes {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto
    }

    .box1 {
        margin-bottom: 75px
    }

    button {
        margin-top: 45px
    }

}


@media (max-width: 756px) {
    .news {
        margin-top: 0px
    }
}


@media (max-width: 650px) {
    body, .container, .navbar {
        padding-left: 25px;
        padding-right: 25px
    }
}



@media (max-width: 540px) {

    .news {
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
        height: 600px;
        text-align: center;
        height: auto
    }

    .boxes {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto
    }

    .box1 {
        margin-bottom: 75px
    }

    .story {
        display: block;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-bottom: 75px;
        padding-left: 25px;
        padding-right: 25px
    }

    .firstheading {
        height: auto
    }

    body {
        padding-left: 0px;
        padding-right: 0px
    }

    .container {
        padding-left: 0px;
        padding-right: 0px
    }

    .navbar {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 425px) {
    body {
        width: 375px;
        display: block
    }

    .story {
        display: block;
        width: 375px
    }

    .story h1 {
        width: 375px;
        font-size: 48px;
    }

    #textBtn {
        width: 375px;
        margin-bottom: 60px
    }

    .firstheading {
        width: 375px;

    }

    .news {
        width: 375px;
        text-align: left;
        margin: auto
    }

    .container {
        display: block;
        width: 375;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px
    }

    .boxes {
        width: 375px
    }

    #mobile {
        width: 50px
    }

    .navbar {
        padding-left: 0px;
        padding-right: 0px;
    }

    .menuslide {
        width: 300px;
        height: 100vh
    }

    .menuslide.active {
        right: 0px;
    }

    #close {
        margin-left: 230px
    }

    .hero {
        background-image: url(assets/images/image-web-3-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 325px
    }





}
